<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>577894963490-v0ij4070apen7k36rath477l0ri8q9k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577894963490-v0ij4070apen7k36rath477l0ri8q9k7</string>
	<key>API_KEY</key>
	<string>AIzaSyBPsVpmYXuVX-Q1c7F7Et0WztzpwPbBCxo</string>
	<key>GCM_SENDER_ID</key>
	<string>577894963490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.adegokeobasa.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-80b78</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-80b78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577894963490:ios:0ad6ee23954f4725</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-80b78.firebaseio.com</string>
</dict>
</plist>